<h2 class="page-header">Edit issue</h2>
<div class="jumbotron container">
    <form name="addIssueForm">
        <div class="form-group">
            <label for="issueTitle">Title</label>
            <input type="text" id="issueTitle" class="form-control" ng-model="issue.Title" required />
        </div>
        <div class="form-group">
            <label for="issueDescription">Description</label>
        <textarea class="form-control"
                  id="issueDescription"
                  ng-model="issue.Description"
                  required>
        </textarea>
        </div>
        <div class="form-group">
            <label for="issueDueDate">Due date</label>
            <input type="text" id="issueDueDate" class="form-control" ng-model="issue.DueDate" required />
        </div>
        <div class="form-group">
            <select ng-model="issue.AssigneeId" id="addId">
                <option ng-repeat="user in allUsers | orderBy:'Username'" value="{{user.Id}}">{{user.Username}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="priorities">Priority</label>
            <select class="form-control" id="priorities" ng-model="issue.PriorityId">
                <option value="">Choose priority</option>
                <option ng-repeat="pr in projectPriorities" value="{{pr.Id}}">{{pr.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="issueLabels">Labels</label>
            <input type="text" id="issueLabels" class="form-control" ng-model="issue.Labels" />
        </div>
        <button class="btn btn-primary" ng-disabled="addIssueForm.$invalid" ng-click="editIssue(issue)">
            Edit issue
        </button>
    </form>
</div>