<h1 class="page-header">Projects</h1>
<div class="jumbotron container" ng-if="userAuth.isUserAdmin()">
    <a href="#/add">
        <button class="btn-default">Add new project</button>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Lead</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in allProjects">
            <td><a href="#projects/{{project.Id}}">{{project.Id}}</a></td>
            <td>{{project.Name}}</td>
            <td>{{project.Description}}</td>
            <td>{{project.Lead.Username}}</td>
        </tr>
        </tbody>
    </table>
      <pagination total-items="allPages" ng-model="projectsRequestParams.startPage"
                  items-per-page="projectsRequestParams.pageSize"
                  max-size="20" boundary-links="true">
</div>