<div ng-controller="CommonCtrl">
    <h1 class="page-header">Affiliated projects/ Issues</h1>
    <div ng-if="userAuth.isUserAdmin()">
        <h2>Admin user recognized!</h2>
        <a href="#/add">
            <button class="btn-primary">Add new project</button>
        </a>
    </div>
    <a ng-click="showContainer('projects')" aria-expanded="false" data-toggle="tab">
        <button class="btn-lg">
            Projects
        </button>
    </a>
    <a ng-click="showContainer('issues')" aria-expanded="false" data-toggle="tab">
        <button class="btn-lg">
            Issues
        </button>
    </a>
    <!-- Projects container -->
    <div class="form-group" ng-show="myProjects">
        <div class="jumbotron container" ng-controller="ProjectsCtrl">
            <h2>Projects</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Lead</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in myProjects">
                    <td><a href="#projects/{{project.Id}}">{{project.Id}}</a></td>
                    <td>{{project.Name}}</td>
                    <td>{{project.Description}}</td>
                    <td>{{project.Lead.Username}}</td>
                </tr>
                </tbody>
            </table>
            <a href="#/add">
                <button class="btn-default" ng-if="userAuth.isUserAdmin()">Add new project</button>
            </a><pagination total-items="numItems" ng-model="projectsRequestParams.startPage"
                            items-per-page="projectsRequestParams.pageSize"
                            max-size="5" boundary-links="true">
        </div>
    </div>

    <!-- Issues container -->
    <div class="form-group" ng-show="myIssues">
        <div class="jumbotron container" ng-controller="IssuesCtrl">
            <h2>Issues</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>DueDate</th>
                    <th>Assignee</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in myIssues">
                    <td><a href="#issues/{{issue.Id}}">{{issue.Id}}</a></td>
                    <td>{{issue.Title}}</td>
                    <td>{{issue.Description}}</td>
                    <td>{{issue.DueDate}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                </tr>
                </tbody>
            </table>
            <pagination total-items="numItems" ng-model="issuesRequestParams.startPage"
                        items-per-page="issuesRequestParams.pageSize"
                        max-size="5" boundary-links="true">
        </div>
    </div>
</div>