<div class="row">
    <div class="col-md-6">
        <div class="row">

            <h1>Projects</h1>

        </div>

        <div class="jumbotron col-md-12">
            <ul ng-repeat="project in allProjects">
                <li>
                    {{project.Name}}
                    <a href="#/projects/{{project.Id}}">
                        <button class="btn-sm">View</button>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#/add">
            <button class="btn-default">Add new project</button>
        </a>

    </div>
</div>